.select-vote{
    min-height: auto;
}
.ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-inner,
.ant-checkbox-input:focus + .ant-checkbox-inner{
    border-color: #00AF92;
}
.ant-checkbox-checked .ant-checkbox-inner{
    background-color: #00AF92;
    border-color: #00AF92;
}
.ant-select-multiple .ant-select-selector{
    padding: 2px 10px;
}
.ant-select:not(.ant-select-disabled):hover .ant-select-selector{
    border-color: #00AF92;
}
.ant-select-focused.ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
    border-color: #00AF92;
    -webkit-box-shadow: 0 0 0 2px rgba(0, 175, 146, 0.295);
    box-shadow: 0 0 0 2px rgba(0, 175, 146, 0.295);
}
.ant-select-item-option-selected:not(.ant-select-item-option-disabled){
    background-color: rgba(12, 221, 186, 0.1);
}