.ant-row{
    position: relative;
}
.search-area{
    width: calc( 100% + 20px);
    background: rgba(255, 255, 255, 0.404);
    position: absolute;
    height: 0;
    top: 54px;
    margin-left: -10px;
}
.search-content{
    position: relative;
    overflow: hidden;
    animation: test1 forwards .3s;
}
.height-sea{
    height: 80px;
}
.search-btn{
    padding-right: 35px;
}
.search-btn .inset-btn{
    float: right;
    margin-top: -35px;
}
.search-btn .anticon{
    font-size: 20px;
}
.search-detail{
    position: absolute;
    width: calc( 100% - 20px);
    padding: 15px 25px;
    margin: 0 10px;
    background: #FFFFFF;
    box-shadow:none;
    transform:translateY(-100%);
    transition:transform 0.3s cubic-bezier(0.7, 0.3, 0.1, 1), box-shadow 0.5s cubic-bezier(0.7, 0.3, 0.1, 1);
}

.show-child{
    display: block!important;
    z-index: 1;
}
.show-child .search-detail{
    transform:translateY(0);
    box-shadow:0px 4px 12px 0px rgba(0, 0, 0, 0.103);
    transition:transform 0.3s cubic-bezier(0.7, 0.3, 0.1, 1), box-shadow 0.5s cubic-bezier(0.7, 0.3, 0.1, 1);
}
.search-detail .ant-input-affix-wrapper:hover{
    border-color:#00AF92;
}
.search-detail .ant-input-affix-wrapper-focused{
    border:1px solid #00AF92;
    box-shadow: 0 0 0 2px rgba(3, 212, 178, 0.2);
}
.ant-tag-green{
    color: #00AF92;
    /* background:rgba(0, 175, 137, 0.05); */
    background:#FFFFFF;
    border:1px solid rgb(0, 175, 137);
    font-weight: 400;
}

.dis-file{
    background: transparent;
}
.dis-file .ant-input{
    background: transparent;
}

.form-btn{
    margin-top: 24px;
}
.ant-input{
    border-radius: 0px;
}
.ant-select-single:not(.ant-select-customize-input) .ant-select-selector{
    border-radius: 0px;
    height: 36px;
    padding-top: 2px;
}
.ant-select-single:not(.ant-select-customize-input) .ant-select-selector .ant-select-selection-search-input{
    height: 36px;
}

.param-title{
    font-weight: 600;
    padding: 0 10px;
    color: rgba(0, 0, 0, 0.85);
    margin-bottom: 5px;
}
.param-title span{
    color: #ff4d4f;
    vertical-align: middle;
}
.param-input{
    min-height: auto;
}
.param-input .ant-form-item-label{
    text-align: left;
}
.param-input label{
    font-weight: 400!important;
    min-height: 38px;
    height: 100%;
    vertical-align: middle;
}
.param-input .ant-form-item-label > label.ant-form-item-required::before{
    content: "";
}

.ant-select-selection-item-content{
    width: 150px;
    font-size: 12px;
    border: none;
    border-radius: 0px;
}
.ant-table.ant-table-bordered .ant-table-title{
    font-weight: 700;
    background: #0000000A;
    color:#000000D9;
    padding:10px 12px;
    border: 1px solid #f0f0f0;
}
.ant-table table{
    font-size: 12px;
    border-bottom: 1px solid #f0f0f0;
}
.ant-table thead > tr > th,
.ant-table tbody > tr > td{
    border-bottom: none;
    color: #333333;
}
.ant-table thead > tr > th,
.ant-table tbody > tr > td{
    padding: 8px 12px;
}
.ant-table thead > tr > th{
    font-size: 11px;
    padding:6px 12px;
}

.para-tag{
    min-width: 65px;
    text-align: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    -webkit-font-feature-settings: 'tnum';
    font-feature-settings: 'tnum', "tnum";
    display: inline-block;
    height: auto;
    padding: 0 7px;
    margin-right: 8px;
    font-size: 12px;
    line-height: 20px;
    white-space: nowrap;
    background: #00AF92;
    color: #FFFFFF;
    border: 1px solid #00AF92;
    border-radius: 2px;
    cursor: default;
    opacity: 1;
    -webkit-transition: all 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
    transition: all 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
}
.para-tag em{
    display: inline-block;
    background: #FFFFFF;
    color: #00AF92;
    height: 100%;
    padding: 0 7px;
    margin-right: -7px;
    margin-left: 7px;
}