body{
    font-family: "SF Pro SC", "SF Pro Text", "SF Pro Icons", "PingFang SC", 'Segoe UI', "Microsoft YaHei", "微软雅黑", "Helvetica Neue", "Helvetica", "Arial";
    letter-spacing: .05em;
    font-weight: 500;
    line-height: 22px;
}
a{
    color: #333333;
}

.ant-layout-content{
    padding-bottom: 10px;
}
.ant-row{
    min-height: 60px;
}

.home-icon{
    border-top: 1px solid #DDDDDD;
    padding-top: 30px;
}
.home-icon img{
    height: 80px;
    width: 80px;
}
.home-icon span{
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    margin-top: 5px;
}
.ant-layout-footer{
    background: transparent;
    text-align: center;
    color: #999999;
    padding: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}


.text-r{
    text-align: right;
}
.text-c{
    text-align: center;
}
.text-l{
    text-align: left;
}

/* icon */
.anticon-spin {
    -webkit-animation: loadingCircle 3s infinite linear;
    animation: loadingCircle 3s infinite linear;
    color: #00AF92;
}

/* common */
.lighter{
    font-weight: lighter;
}
.bold{
    font-weight: 500;
}
.bolder{
    font-weight: bold;
}
.t-normal{
    color: #222222;
}
.t-light{
    color: #666666!important;
}
.t-green{
    color: #00AF92;
}
/* font size */
h1,.h1{
    font-size: 26px;
}
h2,.h2,.font-xl{
    font-size: 20px;
    text-shadow: 0.1px 0 0 #222222;
}
h3,.h3,.font-l{
    font-size: 16px;
}
h4,.h4,.font-n{
    font-size: 14px;
}
.f-s,.font-s{
    font-size: 12px;
}
.f-xs{
    font-weight: 400;
    font-size: 10px;
}
small,.small{
    font-size: 80%;
}

.f-1{
    color: #222222;
    line-height: 1.1;
    letter-spacing: .05em;
}
/* .f-2{
    font-size: 20px;
    line-height: 1.1;
    color: #222222;
} */



.width-full{
    width: 100%;
}
.w200{
    max-width: 200px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}
.w300{
    max-width: 300px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}
.w400{
    max-width: 400px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}
.w600{
    max-width: 650px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

/* walletlist */
.ellipsis{
    display: inline-block;
    vertical-align: bottom;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.upcase{
    text-transform: uppercase;
}

.m-auto{
    margin-left:auto;
    margin-right:auto;
}

.mt0{margin-top: 0px!important;}
.mb0{margin-bottom: 0!important;}
.pr0{padding-right: 0!important;}
.pl0{padding-left: 0!important;}

.mt1{margin-top: 52px;}
.mt2{margin-top: 32px;}
.mt3{margin-top: 20px;}
.mt4{margin-top: 12px;}
.mt5{margin-top: 8px;}

.mb1{margin-bottom: 52px;}
.mb2{margin-bottom: 32px;}
.mb3{margin-bottom: 20px;}
.mb4{margin-bottom: 12px;}
.mb5{margin-bottom: 6px;}

.mr1{margin-right: 32px;}
.mr2{margin-right: 16px;}
.mr3{margin-right: 12px;}
.mr4{margin-right: 8px;}

.ml1{margin-left: 32px;}
.ml2{margin-left: 16px;}
.ml3{margin-left: 12px;}
.ml4{margin-left: 8px;}


.pv1{padding: 20px 0;}
.pv2{padding: 16px 0;}
.pv3{padding: 12px 0;}
.pv4{padding: 8px 0;}

.pa1{padding: 0 20px;}
.pa2{padding: 0 16px;}
.pa3{padding: 0 12px;}
.pa4{padding: 0 8px;}

.ant-btn{
    border-radius: 0;
    height: auto;
}


/* 左侧通用menu */
.menu-down{
    position: absolute;
    width:100%;
    bottom: 20px;
}
.menu-down ul{
    padding: 0;
    margin-bottom: 4px;
}
.menu-down li{
    list-style:none;
    margin-top: 8px;
}
.menu-down li a{
    display: inline-block;
    width: 100%;
    min-height: 34px;
    line-height: 34px;
    padding: 0 16px;
    vertical-align: middle;
    color:rgba(255, 255, 255, 0.65);
}
.menu-down li a:hover{
    color: #FFFFFF;
}
.menu-down li a .anticon {
    margin-right: 10px;
}

/* bg通用 */
.bg-white{
    background: #FFFFFF;
}

/* float 通用 */
.float-r{
    float: right;
}
.float-l{
    float: left;
}

/* title */
.in-title{
    padding:12px;
    border-bottom: 1px solid #E8E8E8;
}
.in-title .anticon {
    line-height: inherit;
}
.in-title .anticon svg{
    vertical-align: middle;
}


/* 覆盖 */
.ant-btn{
    padding:6px 0;
    text-align:center;
    border: 1px solid #00AF92;
    color: #00AF92;
    background: transparent;
    min-width: 100px;
}
.ant-btn-primary{
    color: #FFFFFF;
    background: #00AF92;
}
.ant-btn:hover{
    color: #FFFFFF!important;
    background-color: #2b393f;
    border-color: #2b393f!important;
}

/* 列表样式覆盖 */
.ant-list-header,
.ant-list-footer,
.ant-list-item{
    padding-left: 12px;
    padding-right: 12px;
}
.ant-list-item .ant-list-item-meta-description{
    color:rgba(0, 0, 0, 0.65);
}
.ant-list-item:hover{
    background: #EFEFEF;
    color: #000000;
    transition: all 0.2s;
}
.ant-list-item:hover .ant-list-item-meta-title > a{
    text-shadow: 0px 0px 1px #222222;
}
.ant-list-item:hover .ant-list-item-meta-description{
    color:#222222;
}
.ant-list-item-meta-title a{
    color: #222222;
    transition: all 0.15s;
}
.ant-list-item-meta-title a:hover{
    color: #00AF92;
    text-shadow: none!important;
}
