
.ant-divider-horizontal{
    margin: 6px 0;
}

.ant-drawer-body::-webkit-scrollbar{
    height: 10px;
    width: 10px;
    background:transparent;
}

.ant-drawer-body::-webkit-scrollbar-thumb{
    height: 10px;
    width: 10px;
    background:rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}