
.wa-content{
    position: relative;
    display: block;
    background: #FFFFFF;
    box-shadow: 0 4px 12px #AAAAAA;
    padding: 28px;
}
.wa-content .logo{
    background: url(/static/media/logo.0907bca5.svg) no-repeat;
    background-position: center;
    height: 40px;
}
.wa-open{
    padding: 0 90px;
    max-width: 580px;
    margin-left: auto;
    margin-right: auto;
    min-height: 280px;
}

/* 路径 */
.wa-link{
    position: relative;
    z-index: 9;
}
.wa-link a{
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    vertical-align: top;
}
.wa-link a.back{
    float: left;
}
.wa-link a.close{
    float: right;
}
.wa-link .anticon{
    color: #666666;
    font-size: 12px;
}


/* 按钮 */
.wa-open .ant-btn{
    width: 100%;
    font-size: 14px;
    padding:6px 0;
    text-align:center;
    border: 1px solid #00AF92;
    color: #00AF92;
}
.wa-open .ant-btn-primary{
    background-color: #00AF92;
    border-color: #00AF92;
    color: #FFFFFF;
}
.ant-btn-primary:hover,
.ant-btn-primary:focus {
    color: #fff;
    background-color: #2b393f;
    border-color: #2b393f;
}
.wa-open .ant-btn-sm{
    font-size: 12px;
}
.wa-open input{
    padding-top: 6px;
    padding-bottom: 6px;
    border-radius: 0;
}

.wa-open .ant-input:hover,
.wa-open .ant-input:focus,
.wa-open .ant-input:active{
    border:1px solid #00AF92;
    box-shadow: 0 0 0 2px rgba(3, 212, 178, 0.2);
}
.wa-open .ant-input-password:hover,
.wa-open .ant-input-password:focus,
.wa-open .ant-input-password:active{
    border:1px solid #00AF92;
    box-shadow: 0 0 0 2px rgba(3, 212, 178, 0.2);
}
.wa-open .ant-input-affix-wrapper > input.ant-input{
    padding: 0;
    border: none;
    outline: none;
    box-shadow: none;
}


/* list */
.ant-list-item.wa-half{
    width: 49%;
    display: inline-block;
}
.ant-list-item.wa-half:nth-child(2n){
    margin-left: 2%;
    display: inline-block;
}
.ant-list-item.wa-half .upcase{
    width: 120px;
    display: inline-block;
    overflow: hidden;
    vertical-align: text-top;
    text-overflow: ellipsis;
    margin-right: 10px;
}

.show-pri{
    margin-top: 20px;
    padding-right: 35px;
}
.show-pri p{
    font-size: 12px;
    word-break: break-all;
}


.wa-detail .ant-list-item{
    padding-top: 8px;
    padding-bottom: 8px;
}
.wa-detail .ant-list,
.wa-detail .ant-typography{
    color:#222222;
}

.wa-amount{
    width: 60px;
    text-align: right;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    vertical-align: bottom;
}

.asset-list{
    line-height: 14px;
}
.asset-list .ant-list-item-meta-title{
    line-height: 1.1;
    color:#222222;
}
.asset-list .ant-list-item-meta-description{
    line-height: 1.1;
    word-break: break-all;
}
.asset-list .ant-typography{
    width: 70px;
    text-align: right;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px;
    color: #000000;
    FONT-WEIGHT: 400;
}

/* trans */
.wa-trans{
    color: #222222;
}
.wa-trans .ant-select-selection,
.wa-trans input{
    border-radius: 0;
}
.wa-trans .anticon{
    font-size: 15px;
    color: #00AF92!important;
}
.wa-trans button {
    width: 100%;
}

.trans-form .ant-row{
    margin-bottom: 12px;
}
.trans-form .ant-form-item-control{
    width: 100%;
    padding: 2px 10px;
}
.trans-form .ant-input-number{
    width: 100%;
}
.trans-form .ant-form-item-label > label{
    font-weight:600;
    height: auto;
    padding: 0 10px;
}
.trans-form .ant-btn-primary{
    padding-top: 6px;
    padding-bottom: 6px;
    width: 100%;
}

.trans-form .ant-select:not(.ant-select-disabled):hover .ant-select-selector,
.trans-form .ant-input:hover,.ant-input-number:hover {
    border-color: #00AF92;
}

.trans-form .ant-select-focused.ant-select-single:not(.ant-select-customize-input) .ant-select-selector,
.trans-form .ant-input:focus,.ant-input-number-focused, .ant-input-focused{
    border-color: rgb(0, 175, 146);
    box-shadow: 0 0 0 2px rgba(3, 212, 178, 0.2);
}
.trans-form .ant-input-number .anticon,
.trans-form .ant-input-number .anticon{
    color:rgb(1, 150, 125)!important;
}
.trans-symbol{
    display: inline-block;
    width: 50px;
    overflow: hidden;
    vertical-align: bottom;
    text-overflow: ellipsis;
}

/* upload */
input.wa-upload{
    background: #00AF92;
}
.wa-upload input{
    background: #00AF92;
}
button,input{
    border-radius: 0;
    background: transparent;
}

.ant-list-item-meta-title{
    max-width: 480px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}